body{
    background-color: rgb(233 15 15 / 63%);
    background-image: url("background.jfif");
    text-align: center;
}
h1{
    text-align: center;
    font-size: 2vw;
    background-color: #4fb446;
    margin: 0;
    padding: 2vw;
    color: white;
    width: fit-content;
    border-radius: 1.5vw;
    position: relative;
    margin:auto;
    margin-bottom: 2vw;
    margin-top: 2vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#new_word{
  position: absolute;
  right:5vw;
  top: 10vw;
  font-size: medium;
  padding: 0.8vw;
  border-radius: 1vw;
  width: 8vw;
  background-color: #ff9100;
  font-weight: bold;
  cursor: pointer;
}
#word{
    background-color: #ff006a;
    color: white;
    font-size: xx-large;
    border-radius: 1vw;
    width: fit-content;
    padding: 2vw;
    letter-spacing: 1vw;
    margin: auto;
    margin-bottom: 1vw;
}

.selected{
    background-color:yellowgreen ;
    border: none;
}

#life{
    margin: 1vw;
}
.cell
{
    border-radius: 1vw;
    width: 6vw;
    background-color: orange;
    height: 1.5vw;
}

#alphabets
{
    background-color: yellowgreen;
    height: 15vw;
    text-align: center;
    padding: 3vw;
    margin: auto;
    border-radius: 1vw;
    width: 53vw;
}

.btn{

    font-size: 1.6vw;
    height: 4vw;
    width: 4vw;
    border-radius: 1vw;
    cursor: pointer;
    margin:0.5vw;

}

.btn:hover{
    background-color: yellowgreen;

}

#warning{
    font-family: cursive;
    padding: 0.5vw;
    display: inline-block;
    color: yellow;
    font-size: 2.2vw;
    font-weight: bold;
    border-radius: 1vw;
    margin: auto;
    margin-top: 1vw;
}